.clients2__ing{
    margin-left: 40%;
   
}
.clients2__comentario {
    margin-left: 30%;
    margin-right: 25%;
    color: rgba(93, 96, 102, 0.782);
}
.clients2__autor {
  
    font-weight: bold;
    margin-left: 44%;
    margin-right: 20%;
  
}
.clients2__cargo {
  
    margin-left: 38%;
    margin-right: 10%;
}