.rodape {
    background-color: #89d3c4;
  
}
.logo__footer {

    font-size: 2em;
    color: #205f52;
    text-align: center;
}

.menu__atalhos {
    display: inline;
    color: #205f52;
    margin: 0 0 0 15%;
   
}
.redes {
    margin-top: 5%;
    margin-left: 45%;
}