.menu__link ativo {
    font-weight: bold;
    background-color: wheat;
}
main {
    display: grid;
    
    grid-template-areas: 
   ".principal .principal"
   ".secao2 .secao__img"
   ".secao3 .secao4"
   ".secao5 .clients"
   ".secao5 .clients"
   ".secao5 .clients"

}
.principal {
   grid-area: 1/1;
   
}
.secao2 {
   grid-area: 2/1;
}
.secao__img {
   grid-area: 2/2;
}
.secao3__img {
   grid-area: 3/1;
}

.secao3 {
    grid-area: 3/2;

}
.secao4{
    grid-area: 5/2;
}
