.menu__link ativo {
    font-weight: bold;
    background-color: wheat;
}
main {
    display: grid;
    
    grid-template-areas: 
   ".principal .principal"
   ".secao3 .secao__img"
   ".secao4 .secao5"
   ".secao6 .secao7__img"
   ".secao5 .clients"
   ".secao5 .clients"

}
.principal {
   grid-area: 1/1;
}
.secao3 {
   grid-area: 2/1;
}
.secao__img {
   grid-area: 2/2;
}
.secao4__img {
   grid-area: 2/2;
}

.secao5__img {
    grid-area: 3/1;

}
.secao6{
    grid-area: 3/2;
}
.secao7 {
   grid-area: 4/1;
}
.secao8 {
   grid-area: 4/2;
   
}


.secao9__img {
   grid-area: 5/2;
}
.clients {
   grid-area: 6/1;
}

.clients__titulo {
   text-align: center;
   font-weight: bold;
}
